{% extends 'main.html' %}

{% block content %}
    {% for ad in ads %}
        <div class="card mb-3">
            <div class="row">
                <div class="col-4">
                    №{{ ad.id }}
                    {% if ad.image_url %}
                        <img src="{{ ad.image_url.url }}" class="card-img-top" alt="{{ ad.title }}">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <p>Нет изображения</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a>
                        </h5>
                        <p class="card-text">{{ ad.description }}</p>
                        <p class="card-text">{{ ad.condition }}</p>
                        <small>Добавил {{ ad.user.username }}, {{ ad.create }},</small>
                        в категорию: <a href="{{ ad.category.get_absolute_url }}">{{ ad.category.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
