{% extends 'main.html' %}

{% block content %}
    <table>
        <tr>
        <th>id</th>
        <th>user</th>
        <th>title</th>
        <th>description</th>
        <th>image_url</th>
        <th>category</th>
        <th>condition</th>
        <th>created_at</th>
        </tr>
    {% for ad in ads %}
    <tr>
    <td>{{ ad.id }}</td>
    <td>{{ ad.user }}</td>
    <td>{{ ad.title }}</td>
    <td>{{ ad.description }}</td>
    <td><img src="{{ ad.image_url.url }}" alt="{{ ad.title }}" width="150"/></td>
    <td>{{ ad.category }}</td>
    <td>{{ ad.condition }}</td>
    <td>{{ ad.created_at }}</td>
    {% endfor %}
    </tr>
    </table>
{% endblock %}
